/* Banner Start */
.banner{
    position: relative;
    padding: 7rem 7% 3rem 7%;
    color: #fff;
}
.banner .banner-canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #24b3d3, #de3597 70%);
}
.banner h1{
    position: relative;
    font-weight: 900;
    font-size: calc(3rem + 0.5vw);
}
.banner p{
    position: relative;
    font-weight: 500;
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 1rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .banner{
        padding: 7.5rem 7% 3.5rem 7%;
    }
    .banner h1{
        font-size: calc(3.5rem + 0.5vw);
    }
    .banner p{
        font-size: calc(0.7rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .banner{
        padding: 8.5rem 7% 4rem 7%;
    }
    .banner h1{
        font-size: calc(3.7rem + 0.5vw);
    }
    .banner p{
        font-size: calc(0.75rem + 0.5vw);
        margin-top: 1.2rem;
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .banner{
        padding: 6rem 1rem 2rem 1rem;
    }
    .banner h1{
        font-size: calc(2rem + 0.5vw);
    }
    .banner p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.8rem;
    }
}
/* Banner End */

/* Why Us Start */
.why-us{
    padding: 3rem 7%;
    opacity: 1;
    background-image:  linear-gradient(#f2f2f2 2px, transparent 3px), linear-gradient(to right, #f2f2f2 2px, #fafafa 2px);
    background-size: 100px 110px;
}
.why-us h2{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.why-us .why-us-cards-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.why-us .why-us-cards-row .why-us-card{
    width: 31.5%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.653) 0px 0px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1.95rem;
}
.why-us .why-us-cards-row .why-us-card:hover{
    box-shadow: rgba(0, 0, 0, 0.907) 0px 0px 12px;
}
.why-us .why-us-card .card-image{
    width: 19%;
}
.why-us .why-us-card .card-image img{
    width: 100%;
}
.why-us .why-us-card .card-content{
    width: 77%;
}
.why-us .why-us-card .card-content span{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 900;
    display: block;
    font-family: "Nunito Sans", sans-serif;
    line-height: normal;
    color: #000;
}
.why-us .why-us-card .card-content p{
    font-size: calc(0.52rem + 0.5vw);
    font-weight: 500;
    color: #505050;
    margin-top: 0.5rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .why-us{
        padding: 3.5rem 7%;
        background-size: 110px 120px;
    }
    .why-us h2{
        font-size: calc(2.5rem + 0.5vw);
    }
    .why-us .why-us-cards-row{
        margin-top: 3rem;
    }
    .why-us .why-us-cards-row .why-us-card{
        padding: 1.3rem;
        margin-bottom: 2.1rem;
    }
    .why-us .why-us-card .card-content span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .why-us .why-us-card .card-content p{
        font-size: calc(0.52rem + 0.5vw);
        margin-top: 0.6rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .why-us{
        padding: 4rem 7% 3.5rem 7%;
        background-size: 120px 140px;
    }
    .why-us h2{
        font-size: calc(2.7rem + 0.5vw);
    }
    .why-us .why-us-cards-row{
        margin-top: 3.3rem;
    }
    .why-us .why-us-cards-row .why-us-card{
        padding: 1.5rem;
        margin-bottom: 2.3rem;
    }
    .why-us .why-us-card .card-content span{
        font-size: calc(1rem + 0.5vw);
    }
    .why-us .why-us-card .card-content p{
        font-size: calc(0.56rem + 0.5vw);
        margin-top: 0.6rem;
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .why-us{
        padding: 1.7rem 1rem 1.3rem 1rem;
        background-size: 50px 60px;
    }
    .why-us h2{
        font-size: calc(1.5rem + 0.5vw);
    }
    .why-us .why-us-cards-row{
        margin-top: 1.5rem;
    }
    .why-us .why-us-cards-row .why-us-card{
        width: 100%;
        padding: 1rem 1rem 1rem 0.7rem;
        margin-bottom: 1.2rem;
    }
    .why-us .why-us-card .card-image{
        width: 15%;
    }
    .why-us .why-us-card .card-content{
        width: 82%;
    }
    .why-us .why-us-card .card-content span{
        font-size: calc(1.1rem + 0.5vw);
    }
    .why-us .why-us-card .card-content p{
        font-size: calc(0.8rem + 0.5vw);
    }
}
/* Why Us End */

/* Zero Brokerage Start */
.zero-brokerage{
    padding: 3rem 7%;
    background: linear-gradient(to bottom, #fff 40%, #2aafd8a7 200%);
}
.zero-brokerage h3{
    font-size: calc(2.8rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.zero-brokerage p{
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    margin-top: 0.5rem;
    text-align: center;
}
.zero-brokerage-content-row{
    margin-top: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.505) 0px 0px 13px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zero-brokerage-content-row .brokerage-content{
    width: 47%;
    text-align: center;
}
.zero-brokerage-content-row .brokerage-content p{
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 800;
    color: #676767;
}
.zero-brokerage-content-row .brokerage-content span{
    font-size: calc(1.8rem + 0.5vw);
    font-weight: 800;
    color: #000;
    font-family: "Nunito Sans", sans-serif;
}
.zero-brokerage-content-row .brokerage-separator{
    width: 5%;
    display: flex;
    justify-content: center;
}
.zero-brokerage-content-row .brokerage-separator img{
    width: 100%;
    filter: invert(47%) sepia(51%) saturate(4563%) hue-rotate(184deg) brightness(90%) contrast(95%);
}

.zero-brokerage h4{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 3rem;
}
.trade-more-content-box{
    margin-top: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.505) 0px 0px 13px;
    border-radius: 10px;
    padding: 1.7rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.trade-more-content-box .trade-more-content-left{
    width: 40%;
    text-align: center;
}
.trade-more-content-box .trade-more-content-left span{
    font-size: calc(3.5rem + 0.5vw);
    font-weight: 800;
    color: #de3597;
    font-family: "Nunito Sans", sans-serif;
}
.trade-more-content-box .trade-more-content-left p{
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 800;
    color: #000;
    margin: 0;
}
.trade-more-content-box .trade-more-content-right{
    width: 58%;
    border: 1.5px solid #de3597;
    border-radius: 10px;
    padding: 1.3rem;
}
.trade-more-content-box .trade-more-content-right p{
    margin: 0;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 800;
    color: #000;
}
.trade-more-content-box .trade-more-content-right table{
    margin-top: 1rem;
    width: 100%;
    border-radius: 8px;
    font-size: calc(0.55rem + 0.5vw);
    color: #464646;
    text-align: center;
    overflow: hidden;
}
.trade-more-content-box .trade-more-content-right table td{
    border: 1.5px solid #ccc;
    padding: 11px;
}
.trade-more-content-box .trade-more-content-right table th{
    border: 1.5px solid #adadad;
    padding: 11px;
    background-color: #e03195;
    color: #fff;
}
.trade-more-content-box .trade-more-content-right table tr:nth-child(even){
    background-color: #efe5fe;
}
.trade-more-content-box .trade-more-content-right table tr:nth-child(odd):hover{
    background-color: #f8f3ff;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .zero-brokerage{
        padding: 3.5rem 7%;
    }
    .zero-brokerage h3{
        font-size: calc(3.2rem + 0.5vw);
    }
    .zero-brokerage p{
        font-size: calc(1.1rem + 0.5vw);
        margin-top: 0.7rem;
    }
    .zero-brokerage-content-row{
        margin-top: 2.8rem;
    }
    .zero-brokerage-content-row .brokerage-content p{
        font-size: calc(1.3rem + 0.5vw);
    }
    .zero-brokerage-content-row .brokerage-content span{
        font-size: calc(2rem + 0.5vw);
    }

    .zero-brokerage h4{
        font-size: calc(2.5rem + 0.5vw);
        margin-top: 3.5rem;
    }
    .trade-more-content-box{
        margin-top: 2.8rem;
        padding: 2rem;
    }
    .trade-more-content-box .trade-more-content-left span{
        font-size: calc(3.8rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-left p{
        font-size: calc(1.4rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right{
        border: 1.7px solid #de3597;
        padding: 1.7rem;
    }
    .trade-more-content-box .trade-more-content-right p{
        font-size: calc(1.3rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right table{
        margin-top: 1.2rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right table td{
        border: 1.7px solid #ccc;
        padding: 13px;
    }
    .trade-more-content-box .trade-more-content-right table th{
        border: 1.7px solid #adadad;
        padding: 13px;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .zero-brokerage{
        padding: 4rem 7% 4.5rem 7%;
    }
    .zero-brokerage h3{
        font-size: calc(3.4rem + 0.5vw);
    }
    .zero-brokerage p{
        font-size: calc(1.15rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .zero-brokerage-content-row{
        margin-top: 3rem;
    }
    .zero-brokerage-content-row .brokerage-content p{
        font-size: calc(1.3rem + 0.5vw);
    }
    .zero-brokerage-content-row .brokerage-content span{
        font-size: calc(2.3rem + 0.5vw);
    }

    .zero-brokerage h4{
        font-size: calc(2.7rem + 0.5vw);
        margin-top: 3.7rem;
    }
    .trade-more-content-box{
        margin-top: 3rem;
        padding: 2.2rem;
    }
    .trade-more-content-box .trade-more-content-left span{
        font-size: calc(4.2rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-left p{
        font-size: calc(1.6rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right{
        border: 2px solid #de3597;
        padding: 1.9rem;
    }
    .trade-more-content-box .trade-more-content-right p{
        font-size: calc(1.45rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right table{
        margin-top: 1.4rem;
        font-size: calc(0.75rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right table td{
        border: 2px solid #ccc;
        padding: 15px;
    }
    .trade-more-content-box .trade-more-content-right table th{
        border: 2px solid #adadad;
        padding: 15px;
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .zero-brokerage{
        padding: 2rem 1rem;
    }
    .zero-brokerage h3{
        font-size: calc(1.5rem + 0.5vw);
    }
    .zero-brokerage p{
        font-size: calc(0.85rem + 0.5vw);
    }
    .zero-brokerage-content-row{
        margin-top: 1.5rem;
        flex-wrap: wrap;
    }
    .zero-brokerage-content-row .brokerage-content{
        width: 100%;
        padding: 1.5rem 0;
        border-bottom: 2px dashed #ccc;
    }
    .zero-brokerage-content-row .brokerage-content:last-child{
        border-bottom: none;
    }
    .zero-brokerage-content-row .brokerage-content p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .zero-brokerage-content-row .brokerage-content span{
        font-size: calc(1.5rem + 0.5vw);
    }
    .zero-brokerage-content-row .brokerage-separator{
        display: none;
    }

    .zero-brokerage h4{
        font-size: calc(1.5rem + 0.5vw);
        margin-top: 2.5rem;
    }
    .trade-more-content-box{
        margin-top: 1.5rem;
        padding: 1rem;
        flex-wrap: wrap;
    }
    .trade-more-content-box .trade-more-content-left{
        width: 100%;
    }
    .trade-more-content-box .trade-more-content-left span{
        font-size: calc(2.8rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-left p{
        font-size: calc(1.2rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right{
        width: 100%;
        padding: 0.7rem;
        margin-top: 1.5rem;
    }
    .trade-more-content-box .trade-more-content-right p{
        font-size: calc(1rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right table{
        margin-top: 0.7rem;
        font-size: calc(0.75rem + 0.5vw);
    }
    .trade-more-content-box .trade-more-content-right table td{
        padding: 10px;
    }
    .trade-more-content-box .trade-more-content-right table th{
        padding: 10px;
    }
}
/* Zero Brokerage End */

/* Compare Us Start */
.compare-us{
    padding: 3rem 7% 4.5rem 7%;
    opacity: 1;
    background-image:  linear-gradient(#f2f2f2 2px, transparent 3px), linear-gradient(to right, #f2f2f2 2px, #fafafa 2px);
    background-size: 100px 110px;
}
.compare-us h5{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.compare-us .compare-box-row{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.compare-us .compare-box-row .compare-box{
    width: 27%;
    text-align: center;
    background-color: #fff;
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.505) 0px 0px 13px;
}
.compare-us .compare-box-row .compare-box span{ 
    color: #000;
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
    display: block;
    margin-bottom: 2rem;
}
.compare-us .compare-box-row .compare-box p{ 
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 400;
    border-bottom: 1px solid #e4e4e4;
    padding: 0.6rem 0;
}
.compare-us .compare-box-row #tradeking-compare-box{
    background-color: #e03195;
    color: #fff;
    transform: scale(1.05);
    width: 26%;
}
.compare-us .compare-box-row #tradeking-compare-box span{
    color: #fff;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .compare-us{
        padding: 3.5rem 7% 5.5rem 7%;
        background-size: 110px 120px;
    }
    .compare-us h5{
        font-size: calc(2.5rem + 0.5vw);
    }
    .compare-us .compare-box-row{
        margin-top: 4.5rem;
    }
    .compare-us .compare-box-row .compare-box{
        padding: 1.5rem 1.5rem;
    }
    .compare-us .compare-box-row .compare-box span{ 
        font-size: calc(1.5rem + 0.5vw);
        margin-bottom: 2.2rem;
    }
    .compare-us .compare-box-row .compare-box p{ 
        font-size: calc(0.55rem + 0.5vw);
        border-bottom: 1.3px solid #e4e4e4;
        padding: 0.75rem 0;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .compare-us{
        padding: 4rem 7% 6.3rem 7%;
        background-size: 120px 140px;
    }
    .compare-us h5{
        font-size: calc(2.7rem + 0.5vw);
    }
    .compare-us .compare-box-row{
        margin-top: 4.7rem;
    }
    .compare-us .compare-box-row .compare-box{
        padding: 1.6rem 1.5rem;
    }
    .compare-us .compare-box-row .compare-box span{ 
        font-size: calc(1.65rem + 0.5vw);
        margin-bottom: 2.2rem;
    }
    .compare-us .compare-box-row .compare-box p{ 
        font-size: calc(0.63rem + 0.5vw);
        border-bottom: 1.5px solid #e4e4e4;
        padding: 0.8rem 0;
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .compare-us{
        padding: 2rem 0.2rem 2rem 0.2rem;
        background-size: 50px 60px;
    }
    .compare-us h5{
        font-size: calc(1.5rem + 0.5vw);
    }
    .compare-us .compare-box-row{
        margin-top: 1.5rem;
    }
    .compare-us .compare-box-row .compare-box{
        width: 40%;
        padding: 0.7rem 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.505) 0px 0px 10px;
    }
    .compare-us .compare-box-row .compare-box:last-child{
        width: 32%;
    }
    .compare-us .compare-box-row .compare-box span{ 
        font-size: calc(0.8rem + 0.5vw);
        margin-bottom: 1rem;
    }
    .compare-us .compare-box-row .compare-box p{ 
        padding: 0.5rem 0;
    }
    .compare-us .compare-box-row #tradeking-compare-box{
        transform: scale(1);
        width: 26%;
    }
}
/* Compare Us End */

/* All Markets Start */
.all-markets{
    padding: 3rem 7%;
    background-color: #fdfdfd;
}
.all-markets h6{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.all-markets-cards-top{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.all-markets-cards-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
}
.all-markets-card{
    text-align: center;
    padding: 2.5rem 0;
    border-radius: 10px;
    border: 1.5px solid #e03195;
    box-shadow: rgba(0, 0, 0, 0.505) 0px 0px 10px;
    background-color: #fff;
}
.all-markets-cards-top .all-markets-card{
    width: 23.5%;
}
.all-markets-cards-bottom .all-markets-card{
    width: 32%;
}
.all-markets-card span{
    color: #000;
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 800;
    font-family: "Nunito Sans", sans-serif;
    display: block;
}
.all-markets-card:hover{
    background-color: #e13797;
}
.all-markets-card:hover span{
    color: #fff;
}
.all-markets p{
    margin-top: 2.5rem;
    text-align: center;
    color: #000;
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 700;
}
.all-markets .conversion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.2rem;
}
.all-markets .conversion p{
    margin: 0;
}
.all-markets .conversion img{
    filter: invert(17%) sepia(98%) saturate(6114%) hue-rotate(303deg) brightness(89%) contrast(94%);
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .all-markets{
        padding: 3.5rem 7%;
    }
    .all-markets h6{
        font-size: calc(2.5rem + 0.5vw);
    }
    .all-markets-cards-top{
        margin-top: 2.8rem;
    }
    .all-markets-cards-bottom{
        margin-top: 1.55rem;
    }
    .all-markets-card{
        padding: 2.7rem 0;
        border: 1.7px solid #e03195;
    }
    .all-markets-card span{
        font-size: calc(1.5rem + 0.5vw);
    }
    .all-markets p{
        margin-top: 2.8rem;
        font-size: calc(1.4rem + 0.5vw);
    }
    .all-markets .conversion{
        margin-top: 1.3rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .all-markets{
        padding: 4rem 7% 3.5rem 7%;
    }
    .all-markets h6{
        font-size: calc(2.7rem + 0.5vw);
    }
    .all-markets-cards-top{
        margin-top: 3rem;
    }
    .all-markets-cards-bottom{
        margin-top: 1.75rem;
    }
    .all-markets-card{
        padding: 3rem 0;
        border: 1.8px solid #e03195;
    }
    .all-markets-card span{
        font-size: calc(1.7rem + 0.5vw);
    }
    .all-markets p{
        margin-top: 3rem;
        font-size: calc(1.5rem + 0.5vw);
    }
    .all-markets .conversion{
        margin-top: 1.3rem;
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .all-markets{
        padding: 1.5rem 1rem;
    }
    .all-markets h6{
        font-size: calc(1.5rem + 0.5vw);
    }
    .all-markets-cards-top{
        margin-top: 1.7rem;
        flex-wrap: wrap;
    }
    .all-markets-cards-bottom{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .all-markets-card{
        padding: 2.1rem 0;
        margin-bottom: 1.1rem;
    }
    .all-markets-cards-top .all-markets-card{
        width: 47.5%;
    }
    .all-markets-cards-bottom .all-markets-card{
        width: 48%;
    }
    .all-markets-cards-bottom .all-markets-card:last-child{
        width: 100%;
    }
    .all-markets-card span{
        font-size: calc(1.2rem + 0.5vw);
    }
    .all-markets p{
        margin-top: 1rem;
        font-size: calc(1rem + 0.5vw);
    }
    .all-markets .conversion{
        gap: 0.5rem;
        margin-top: 0.7rem;
    }
    .all-markets .conversion img{
        width: 40px;
    }
}
/* All Markets End */

/* Platform Status Start */
.platform-status{
    padding: 3rem 7%;
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
}
.platform-status .status-box{
    width: 25%;
    text-align: center;
}
.platform-status .status-box span{
    color: #000;
    font-size: calc(1.6rem + 0.5vw);
    font-weight: 800;
    font-family: "Nunito Sans", sans-serif;
    display: block;
}
.platform-status .status-box p{
    color: #000;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    margin-top: 0.2rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .platform-status{
        padding: 3.2rem 7%;
    }
    .platform-status .status-box span{
        font-size: calc(1.8rem + 0.5vw);
    }
    .platform-status .status-box p{
        font-size: calc(0.75rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .platform-status{
        padding: 3.5rem 7%;
    }
    .platform-status .status-box span{
        font-size: calc(1.9rem + 0.5vw);
    }
    .platform-status .status-box p{
        font-size: calc(0.8rem + 0.5vw);
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .platform-status{
        padding: 1.5rem 1rem;
        flex-wrap: wrap;
    }
    .platform-status .status-box{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .platform-status .status-box:last-child{
        margin-bottom: 0;
    }
    .platform-status .status-box span{
        font-size: calc(1.3rem + 0.5vw);
    }
    .platform-status .status-box p{
        font-size: calc(0.9rem + 0.5vw);
    }
}
/* Platform Status End */

/* Open Account Start */
.open-account{
    padding: 3rem 7%;
    display: flex;
    justify-content: space-between
}
.open-account-image{
    width: 44%;
}
.open-account-image img{
    width: 100%;
}
.open-account-content{
    width: 52%;
}
.open-account-content h6{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 5%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 0.5rem;
}
.open-account-content p{
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 500;
    margin-top: 1rem;
}
.open-account-content .payment-methods{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1rem;
}
.open-account-content .payment-methods img{
    width: 50px;
}
.open-account-content button{
    border: none;
    background-color: #de3597;
    color: #fff;
    font-size: calc(0.75rem + 0.5vw);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    margin-top: 2rem;
    transition: all 0.2s ease;
}
.open-account-content button i{
    margin-right: 3px;
    font-size: calc(0.65rem + 0.5vw);
}
.open-account-content button:hover{
    background-color: #1393af;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .open-account{
        padding: 3.2rem 7% 3rem 7%;
    }
    .open-account-content h6{
        font-size: calc(2.5rem + 0.5vw);
        margin-top: 1rem;
    }
    .open-account-content p{
        font-size: calc(0.95rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .open-account-content .payment-methods{
        gap: 2.2rem;
        margin-top: 1.5rem;
    }
    .open-account-content button{
        font-size: calc(0.8rem + 0.5vw);
        padding: 0.55rem 1.4rem;
        margin-top: 2.2rem;
    }
    .open-account-content button i{
        margin-right: 4px;
        font-size: calc(0.7rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .open-account{
        padding: 3.5rem 7% 3rem 7%;
    }
    .open-account-content h6{
        font-size: calc(2.7rem + 0.5vw);
        margin-top: 1.1rem;
    }
    .open-account-content p{
        font-size: calc(1rem + 0.5vw);
        margin-top: 1.3rem;
    }
    .open-account-content .payment-methods{
        gap: 2.2rem;
        margin-top: 1.8rem;
    }
    .open-account-content .payment-methods img{
        width: 55px;
    }
    .open-account-content button{
        font-size: calc(0.9rem + 0.5vw);
        padding: 0.6rem 1.5rem;
        margin-top: 2.5rem;
    }
    .open-account-content button i{
        margin-right: 5px;
        font-size: calc(0.75rem + 0.5vw);
    }
}

/* For small screens */
@media screen and (max-width: 767px) {
    .open-account{
        padding: 1.5rem 1rem 2.5rem 1rem;
        flex-wrap: wrap;
    }
    .open-account-image{
        width: 100%;
    }
    .open-account-content{
        width: 100%;
    }
    .open-account-content h6{
        font-size: calc(1.5rem + 0.5vw);
        margin-top: 0.7rem;
        text-align: center;
    }
    .open-account-content p{
        margin-top: 0.8rem;
        text-align: center;
    }
    .open-account-content .payment-methods{
        justify-content: center;
        gap: 1rem;
        margin-top: 1.5rem;
    }
    .open-account-content .payment-methods img{
        width: 40px;
    }
    .open-account-content button{
        width: 60%;
        margin-left: 20%;
        font-size: calc(0.95rem + 0.5vw);
        padding: 0.6rem 1.2rem;
        margin-top: 2.2rem;
    }
    .open-account-content button i{
        font-size: calc(0.8rem + 0.5vw);
    }
}
/*  Open Account End */

/* Simple Steps Start */
.simple-steps{
    margin-top: 0;
}
/* Simple Steps End */