*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}

::selection{
    background-color: #e06ba9;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto", sans-serif;
}

p, a, button{
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* Navbar Start */
nav{
    padding: 0.5rem 2rem !important;
    background-color: transparent;
    backdrop-filter: blur(8px);
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar-brand img {
    width: 60px;
    border-radius: 7px;
}
.nav-link {
    margin: 0 0.3rem;
    font-size: calc(0.55rem + 0.5vw);
    font-weight: 700;
    color: #fff;
}
.nav-link:hover,
.nav-link.active {
    color: #f148aa !important;
}
nav .dropdown-menu {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 0.7rem;
}
nav .dropdown-menu li a {
    color: #282828;
    padding-bottom: 0;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 600;
}
nav .dropdown-menu li a:hover{
    background-color: #fff;
    color: #ea40a3;
}
nav .dropdown-item{
    display: flex;
}

.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none;
    box-shadow: none;
}

nav .btn-group-pill{
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    transform: skewX(-22deg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
nav .btn-group-pill a{
    transform: skewX(5deg);
    padding: 0.4rem 1.4rem;
    font-weight: 650;
    text-decoration: none;
    font-size: calc(0.55rem + 0.5vw);
    transition: all 0.3s ease;
}
nav .btn-signup{
    background-color: #fff;
    color: #000;
}
nav .btn-signup:hover{
    background-color: #e04497;
    color: #fff;
}
nav .btn-login{
    background-color: #fe55b0;
    color: #fff;
}
nav .btn-login:hover{
    background-color: #24b3d3;
}

/* Dropdown menu hover effect for screens wider than 768px */
@media (min-width: 768px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    nav .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    nav{
        padding: 0.5rem 0 !important;
    }
    .nav-link {
        font-size: calc(0.8rem + 0.5vw);
    }
    nav .navbar-nav{
        margin-top: 1.3rem;
    }
    nav .dropdown-menu {
        padding-bottom: 0.7rem;
    }
    nav .dropdown-menu li a {
        font-size: calc(0.75rem + 0.5vw);
    }
    nav .btn-group-pill{
        margin-top: 0.7rem;
        margin-bottom: 1rem;
    }
    nav .btn-group-pill a{
        width: 50%;
        text-align: center;
        font-size: calc(0.75rem + 0.5vw);
    }
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    nav{
        padding: 0.6rem 3rem !important;
    }
    .navbar-brand img {
        width: 70px;
        border-radius: 8px;
    }
    .nav-link {
        margin: 0 0.4rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    nav .dropdown-menu li a {
        font-size: calc(0.53rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    nav{
        padding: 0.7rem 0 !important;
    }
    .navbar-brand img {
        width: 80px;
        border-radius: 10px;
    }
    .nav-link {
        margin: 0 0.4rem;
        font-size: calc(0.65rem + 0.5vw);
    }
    nav .dropdown-menu li a {
        font-size: calc(0.6rem + 0.5vw);
    }
    nav .btn-group-pill a{
        padding: 0.5rem 1.6rem;
        font-size: calc(0.6rem + 0.5vw);
    }
}
/* Navbar End */

/* Banner Start */
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    height: 100vh;
}
.banner .banner-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .banner-content h1{
    color: #000;
    font-size: calc(3.2rem + 0.5vw);
    font-weight: 900;
    background-color: #fff;
    padding: 0.3rem 2rem 0.5rem 2rem;
    border-radius: 50px;
}
.banner .banner-content span{
    color: #de3597;
}

.banner-animated-text{
    margin-top: 2rem;
    height: 65px;
    background-color: #fff;
    padding: 0.3rem 2rem 0.5rem 2rem;
    border-radius: 50px;
}
.banner-animated-text p {
    display: inline-block;
    font-size: calc(2rem + 0.5vw);
    color: #000;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid #000;
    transition: color 0.2s, opacity 0.3s;
    opacity: 1;
    animation: blink-cursor 1s steps(1) infinite;
}
@keyframes blink-cursor {
    0%, 100% { border-color: #000; }
    50% { border-color: transparent; }
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .banner .banner-content h1{
        font-size: calc(3.5rem + 0.5vw);
    }
    .banner-animated-text{
        height: 75px;
        padding: 0.3rem 2rem 0.4rem 2rem;
    }
    .banner-animated-text p {
        font-size: calc(2.3rem + 0.5vw);
        border-right: 7px solid #000;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .banner .banner-content h1{
        font-size: calc(3.8rem + 0.5vw);
        padding: 0.3rem 2.2rem 0.6rem 2.2rem;
        border-radius: 50px;
    }
    .banner-animated-text{
        margin-top: 2.3rem;
        height: 85px;
        padding: 0.4rem 2rem 0.3rem 2rem;
    }
    .banner-animated-text p {
        font-size: calc(2.6rem + 0.5vw);
        border-right: 7px solid #000;
    }
}
/* Banner End */

/* Features Row Start */
.features-row{
    padding: 3rem 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.features-row #features-canvas{
    background: linear-gradient(to right, #24b3d3, #de3597 70%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features-row .feature-card{
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.features-row .feature-card img{
    width: 40px;
    filter: invert(1);
}
.features-row .feature-card p{
    color: #fff;
    margin-top: 1rem;
    font-weight: 800;
    font-size: calc(0.6rem + 0.5vw);
    line-height: normal;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .features-row .feature-card img{
        width: 47px;
    }
    .features-row .feature-card p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.2rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .features-row{
        padding: 3.5rem 5%;
    }
    .features-row .feature-card img{
        width: 50px;
    }
    .features-row .feature-card p{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 1.3rem;
    }
}
/* Features Row End */

/* Trading Register Start */
.trading-register{
    padding: 3.5rem 7%;
    display: flex;
    justify-content: space-between;
}
.trading-register-image{
    width: 37%;
}
.trading-register-image img{
    width: 100%;
    border-radius: 10px;
    border: 1.5px solid #de3597;
    box-shadow: 5px 5px 0 0 #de3597;
}
.trading-register-content{
    width: 58%;
}
.trading-register-content h2{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.trading-register-content p{
    color: #000;
    font-size: calc(0.8rem + 0.5vw);
    margin-top: 1rem;
    font-weight: 500;
}
.trading-register-content>div{
    margin-top: 2rem;
}
.trading-register-content>div p{
    margin-top: 0.5rem;
}
.trading-register-content>div p i{
    color: #1393af;
    margin-right: 5px;
}
.trading-register-content button{
    border: none;
    background-color: #de3597;
    color: #fff;
    font-size: calc(0.8rem + 0.5vw);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 2.5rem;
    transition: all 0.2s ease;
}
.trading-register-content button i{
    margin-left: 5px;
}
.trading-register-content button:hover{
    background-color: #1393af;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .trading-register{
        padding: 4rem 7%;
    }
    .trading-register-image img{
        box-shadow: 6px 6px 0 0 #de3597;
    }
    .trading-register-content h2{
        font-size: calc(2.5rem + 0.5vw);
    }
    .trading-register-content p{
        font-size: calc(0.85rem + 0.5vw);
    }
    .trading-register-content>div{
        margin-top: 2.2rem;
    }
    .trading-register-content>div p{
        margin-top: 0.6rem;
    }
    .trading-register-content button{
        font-size: calc(0.85rem + 0.5vw);
        margin-top: 2.7rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .trading-register{
        padding: 4.5rem 7%;
    }
    .trading-register-image img{
        box-shadow: 8px 8px 0 0 #de3597;
    }
    .trading-register-content h2{
        font-size: calc(2.7rem + 0.5vw);
    }
    .trading-register-content p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .trading-register-content>div{
        margin-top: 2.4rem;
    }
    .trading-register-content>div p{
        margin-top: 0.7rem;
    }
    .trading-register-content>div p i{
        margin-right: 6px;
    }
    .trading-register-content button{
        font-size: calc(0.95rem + 0.5vw);
        padding: 0.6rem 1.2rem;
        margin-top: 2.8rem;
    }
    .trading-register-content button i{
        margin-left: 6px;
    }
}
/* Trading Register End */

/* All Trades Start */
.all-trades{
    padding: 2.5rem 7% 3.5rem 7%;
}
.all-trades h3{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 20%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.all-trades p{
    color: #000;
    font-size: calc(0.8rem + 0.5vw);
    margin-top: 0.8rem;
    font-weight: 500;
    text-align: center;
}
.all-trades-card-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.all-trade-card{
    width: 32%;
    background-color: #f0e6fe;
    padding: 1.5rem;
    border-radius: 15px;
    margin-bottom: 1.4rem;
    min-height: 215px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.153) 0px 3px 6px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in;
}
.all-trade-card:hover{
    background-color: #f4edff;
}
.all-trade-card span{
    font-family: "Roboto", sans-serif;
    font-size: calc(1.5rem + 0.5vw);
    font-weight: 800;
    color: #de3597;
    display: block;
    margin-bottom: 1rem;
    position: relative;
}
.all-trade-card p{
    text-align: left;
    margin: 0;
    font-size: calc(0.6rem + 0.5vw);
    margin-bottom: 0.5rem;
    position: relative;
}
.all-trade-card p i{
    color: #de3597;
    font-size: calc(0.55rem + 0.5vw);
    margin-right: 3px;
}
.all-trade-card .all-trade-canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #24b3d3, #de3597 60%);
}
.all-trade-card:nth-child(odd) span,
.all-trade-card:nth-child(odd) p,
.all-trade-card:nth-child(odd) p i{
    color: #fff;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .all-trades{
        padding: 3rem 7% 4rem 7%;
    }
    .all-trade-card{
        padding: 1.6rem;
        margin-bottom: 1.55rem;
        min-height: 235px;
    }
    .all-trades h3{
        font-size: calc(2.5rem + 0.5vw);
    }
    .all-trades p{
        font-size: calc(0.85rem + 0.5vw);
    }
    .all-trade-card span{
        font-size: calc(1.6rem + 0.5vw);
    }
    .all-trade-card p{
        font-size: calc(0.65rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .all-trade-card p i{
        margin-right: 4px;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .all-trades{
        padding: 3.5rem 7% 4.5rem 7%;
    }
    .all-trade-card{
        padding: 1.8rem;
        margin-bottom: 1.7rem;
        min-height: 255px;
    }
    .all-trades h3{
        font-size: calc(2.7rem + 0.5vw);
    }
    .all-trades p{
        font-size: calc(0.9rem + 0.5vw);
    }
    .all-trade-card span{
        font-size: calc(1.7rem + 0.5vw);
    }
    .all-trade-card p{
        font-size: calc(0.7rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .all-trade-card p i{
        margin-right: 5px;
    }
}
/* All Trades End */

/* Why Choose Start */
.why-choose{
    padding: 0 7% 3.5rem 7%;
}
.why-choose h4{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.why-choose-card-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.why-choose-card{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1.4rem;
    min-height: 215px;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 3px 6px, rgba(0, 0, 0, 0.263) 0px 3px 6px;
    transition: all 0.2s ease-in;
}
.why-choose-card:hover{
    background-color: #f4f4f4;
}
.why-choose-card img{
    filter: invert(17%) sepia(98%) saturate(6114%) hue-rotate(303deg) brightness(89%) contrast(94%);
    width: 65px;
}
.why-choose-card span{
    font-family: "Roboto", sans-serif;
    font-size: calc(0.75rem + 0.5vw);
    font-weight: 600;
    color: #de3597;
    display: block;
    margin-top: 1.2rem;
}
.why-choose-card p{
    font-size: calc(0.5rem + 0.5vw);
    margin-top: 0.4rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .why-choose{
        padding: 0 7% 3.5rem 7%;
    }
    .why-choose h4{
        font-size: calc(2.5rem + 0.5vw);
    }
    .why-choose-card{
        padding: 1.5rem;
        margin-bottom: 1.55rem;
        min-height: 235px;
    }
    .why-choose-card img{
        width: 68px;
    }
    .why-choose-card span{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 1.6rem;
    }
    .why-choose-card p{
        font-size: calc(0.52rem + 0.5vw);
        margin-top: 0.4rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .why-choose{
        padding: 0 7% 3rem 7%;
    }
    .why-choose h4{
        font-size: calc(2.7rem + 0.5vw);
    }
    .why-choose-card{
        padding: 1.5rem;
        margin-bottom: 1.7rem;
        min-height: 255px;
    }
    .why-choose-card img{
        width: 72px;
    }
    .why-choose-card span{
        font-size: calc(0.85rem + 0.5vw);
        margin-top: 2rem;
    }
    .why-choose-card p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.5rem;
    }
}
/* Why Choose End */

/* FAQ Start */
.faq{
    padding: 1rem 15%;
}
.faq h5{
    font-size: calc(2.2rem + 0.5vw);
    font-weight: 800;
    background: linear-gradient(to right, #24b3d3 30%, #de3597 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}
.faq p{
    color: #000;
    font-size: calc(0.8rem + 0.5vw);
    margin-top: 0.8rem;
    font-weight: 500;
    text-align: center;
}
.faq .accordion{
    margin-top: 2rem;
}
.faq .accordion-item{
    margin-bottom: 0.8rem;
    border: none !important;
}
.faq .accordion-item:last-child{
    margin-bottom: 0;
}
.faq .accordion-button,
.faq .accordion-body {
    background-color: #e4e4e4 !important;
    box-shadow: none;
    border-radius: 7px !important;
    color: #000;
    font-weight: 600;
}
.faq .accordion-button{
    font-size: calc(0.75rem + 0.5vw);
}
.faq .accordion-body{
    margin-top: 0.4rem;
}
.faq .accordion-button:hover{
    background-color: #d1d1d1 !important;
}
.faq .accordion-button:not(.collapsed) {
    background-color: #c2c2c2 !important;
}
.faq .accordion-body p{
    font-size: calc(0.65rem + 0.5vw);
    margin: 0;
    text-align: left;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .faq h5{
        font-size: calc(2.5rem + 0.5vw);
    }
    .faq p{
        font-size: calc(0.85rem + 0.5vw);
    }
    .faq .accordion-button,
    .faq .accordion-body {
        padding: 1.4rem 1.2rem;
    }
    .faq .accordion-button{
        font-size: calc(0.8rem + 0.5vw);
    }
    .faq .accordion-body p{
        font-size: calc(0.75rem + 0.5vw);
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .faq h5{
        font-size: calc(2.7rem + 0.5vw);
    }
    .faq p{
        font-size: calc(0.95rem + 0.5vw);
    }
    .faq .accordion-button,
    .faq .accordion-body {
        padding: 1.5rem 1.8rem;
    }
    .faq .accordion-button{
        font-size: calc(0.85rem + 0.5vw);
    }
    .faq .accordion-body p{
        font-size: calc(0.82rem + 0.5vw);
    }
}
/* FAQ End */

/* Simple Steps Start */
/* Simple Steps End */

